{% load static %}
{% include "./header.html" %}
<main data-bs-spy="scroll" data-bs-offset="0">

    <section id="home" class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-sm-12 p-0">
                <div class="row p-5 m-0">
                    <div class="col-sm-8">
                        <h2 class="card-title fw-bold">Studienreise „Fire & Ice“ – Island im Winter</h2>
                        <p class="card-text fw-light">20. Feb. - 02. Mar. 2021</p>
                    </div>
                    <div class="col-sm-4 d-flex align-items-end justify-content-end">
                        <div>
                            <p class="float-end m-0">
                                <a href="/UTC/form" role="button" class="btn btn-primary">Platz Reservieren ></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center"
                     style="overflow: hidden; min-height: 300px; max-height: 600px; width: auto; position: relative;">
                    <div class="d-flex align-items-center" style="position: relative; width: 100%; overflow: hidden;">
                        <img src="https://picsum.photos/seed/island-map/1980/1980" class="img-fluid w-100" alt="Hello">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="album bg-light">
        <div id="highlights" class="padder"></div>
        <div class="container-fluid">
            <h2 class="fw-bold px-5 py-5">Die Highlights im Überblick</h2>
            <div class="row">
                <div class="col-xl-4 my-5 px-5 d-flex align-items-stretch">
                    <div class="card" style="box-shadow: 0px 0px 20px #5BACDE;">
                        <img src="https://picsum.photos/seed/Blaue Lagune/800/600" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title fw-bold">Blaue Lagune</h4>
                            <p class="card-text bold">Islands inoffizieller Nationalsport ist das
                                Herumplanschen in einem Überangebot an
                                geothermischem Wasser. Wir besuchen die Königin
                                der Thermalbäder, die Blaue Lagune. Im Winter ist
                                das Bad nicht so überfüllt und mit Schnee und Eis
                                ringsum ein besonderes Erlebnis.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 my-5 px-5 d-flex align-items-stretch">
                    <div class="card" style="box-shadow: 0px 0px 20px #5BACDE;">
                        <img src="https://picsum.photos/seed/Jökursalon/800/600" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title fw-bold">Jökursalon</h4>
                            <p class="card-text bold">Riesige blaue Eisberge treiben in einer
                                spiegelglatten Lagune dem Meer entgegen. Diese
                                surreale Szene ist perfekte Kulisse für Fotografen
                                und Filmemacher (Batman Begins, James Bond) zu
                                unserer Reisezeit sind keine Bootsfahrten möglich,
                                wir machen einen Spaziergang am Ufer entlang.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 my-5 px-5 d-flex align-items-stretch">
                    <div class="card" style="box-shadow: 0px 0px 20px #5BACDE;">
                        <img src="https://picsum.photos/seed/Polarlicht/800/600" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title fw-bold">Polarlicht</h4>
                            <p class="card-text bold">Jeder will es erleben, das berühmte Polarlicht, das
                                lange Winternächte in natürliche Lava-Lampen
                                verwandelt. Es gehört auch eine gute Portion Glück
                                dazu, aber grundsätzlich besteht in unserem
                                reisezeitraum und dem dunklen Himmel eine gute
                                Chance, den Lichtzauber zu sehen.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 my-5 px-5 d-flex align-items-stretch">
                    <div class="card" style="box-shadow: 0px 0px 20px #5BACDE;">
                        <img src="https://picsum.photos/seed/Reykjavik/800/600" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title fw-bold">Reykjavik</h4>
                            <p class="card-text bold">Die nördlichste Hauptstadt der Welt ist ein Mix
                                aus bunten Häusern, einem eigenwilligen,
                                kreativen Menschenschlag, Design und Architektur
                                und einem ausschweifenden Nachtleben. Für seine
                                geringe Größe ist Reykjavík erstaunlich
                                weltmännisch, voller Kunst und kulinarischer
                                Highlights mit viel Sinn für Ästhetik. Inmitten von
                                schneebedeckten Gipfeln, rauer See und
                                kristallklarer Luft werden wir die Stadt nun auch
                                im Winter kennenlernen dürfen.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 my-5 px-5 d-flex align-items-stretch">
                    <div class="card" style="box-shadow: 0px 0px 20px #5BACDE;">
                        <img src="https://picsum.photos/seed/Vulkan Hekla & Katla/800/600" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h4 class="card-title fw-bold">Vulkan Hekla & Katla</h4>
                            <p class="card-text bold">Wie bösen Stiefschwestern aus einem isländischen
                                Märchen spucken die beiden Vulkane Hekla und
                                Katla im Süden Islands bis heute Feuer und drohen
                                gern mit Dampf und Rauch und bringen Gletscher
                                zum Schmelzen. In einer separaten tour fahren wir
                                – sofern es die Witterung zulässt – zu einem der
                                beiden zu Besuch und wagen einen Blick in den
                                hitzigen Krater.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 my-5 px-5 d-flex align-items-stretch">
                    <div class="card" style="box-shadow: 0px 0px 20px #5BACDE;">
                        <img src="https://picsum.photos/seed/Geysir/800/600" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title fw-bold">Geysir</h4>
                            <p class="card-text bold">Der große Geysir spuckt nur alle 80 Jahre Wasser,
                                dann aber ist die Fontäne 120 Meter hoch. Der
                                etwas kleinere Stokkur schießt alle 15 Minuten in
                                die Höhe, ist aber auch als kleiner Bruder sehr
                                beeindruckend. Das gesamte geothermale Gebiet
                                rund um den Geysir brodelt, blubbert und kocht
                                und es ist faszinierend, wie kochende Flüsse
                                zwischen gelb-blauen Steinen und Eisschollen
                                durchfließen. Hier bekommt das Motto unserer
                                Reise „Fire & Ice“ richtig sinn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="album bg-light">
        <div id="fakten" class="padder"></div>
        <div class="container-fluid">
            <h2 class="fw-bold px-5 py-5">Fakten-Check</h2>
            <div class="row">
                <div class="col-xl-7 my-5 px-5 d-flex align-items-stretch">
                    <div class="card" style="box-shadow: 0px 0px 20px #5BACDE;">
                        <div class="card-body">
                            <h2 class="card-title fw-bold domus">Reisezeitraum</h2>
                            <h4 class="card-title fw-bold text-primary domus">20. Februar – 02. März 2021 / 12 Tage bzw.
                                10
                                Übernachtungen</h4>
                            <p class="card-text bold">Der Abflug findet wahlweise von den Flughäfen
                                <strong>Berlin</strong>,
                                <strong>Düsseldorf</strong>, <strong>Frankfurt</strong> und <strong>München</strong>
                                statt.
                                Weitere Flughäfen können auf Anfrage gerne auch gebucht werden.</p>
                            <h2 class="card-title fw-bold domus">Buchungsklassen</h2>
                            <h5 class="card-title fw-bold text-primary domus">Studenten-Tarif*</h5>
                            <p class="card-text bold domus">• Unterkunft im (gemischten) Mehrbettzimmer mit
                                Gemeinschaftsbad
                                (nur für die Reisegruppe, Hygienemaßnahmen werden eingehalten)</p>
                            <h5 class="card-title fw-bold text-primary domus">Standard-Tarif</h5>
                            <p class="card-text bold domus">• Unterkunft im Mehrbettzimmer mit Gemeinschaftsbad
                                (nur für die Reisegruppe, Hygienemaßnahmen werden eingehalten)</p>
                            <h5 class="card-title fw-bold text-primary domus">Comfort-Doppelzimmer</h5>
                            <p class="card-text bold domus">• mit privatem Bad
                                (Zimmerpartner muss angegeben werden)</p>
                            <h5 class="card-title fw-bold text-primary domus">Comfort-Einzelzimmer</h5>
                            <p class="card-text bold domus">• mit privatem Bad</p>
                            <p class="card-text bold"><strong>WICHTIGER HINWEIS:</strong> du möchtest lieber nur mit
                                deinem Geschlecht in
                                einem Zimmer schlafen, bist
                                nachtaktiv, bist geräuschempfindlich (ein Schnarcher!), geruchsempfindlich (Käsefüße!)
                                oder hast
                                Eigenheiten (ich schlafe gern bei offenem Fenster, ich muss immer die Heizung auf
                                höchster Stufe
                                haben etc.) oder hast sonstige Eigenheiten … <strong>wenn auch nur einer dieser Punkte
                                    auf dich
                                    zutrifft,
                                    buche bitte ein Doppelzimmer mit eine*m Gleichgesinnten oder ein
                                    Einzelzimmer!</strong></p>
                            <p class="card-text bold text-primary domus">*Hinweis STUDENTEN-TARIF:
                                gültig für immatrikulierte Studierende sowie Absolventen, die unter die Einkommensgrenze
                                der geringfügigen
                                Beschäftigung fallen, z.B. Praktikanten, Mini- und Midijobs sowie Arbeitslosigkeit.</p>
                            <h2 class="card-title fw-bold domus">Wer darf mit?</h2>
                            <h4 class="card-text fw-bold">Mitreiseberechtigt sind:</h4>
                            <p class="card-text bold">• Studenten*innen (aktuelle Immatrikulation bei Anmeldung
                                vorweisen)<br>
                                • Hochschulmitarbeiter*innen<br>
                                • Personen, die auf der Reise eine Funktion innehaben (Tourguide, Workshop-Leiter, etc.)<br>
                                • Alumni, die zu Studentenzeiten bereits auf einer Reise dabei waren.</p>
                            <p class="card-text bold">Bitte hab Verständnis dafür, dass nicht-immatrikulierte
                                Partner, Verwandte und Freunde
                                deshalb nicht dabei sein können.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-5 my-5 px-5 d-flex align-items-stretch">
                    <div class="card" style="box-shadow: 0px 0px 20px #5BACDE;">
                        <div class="card-body">
                            <h2 class="card-title fw-bold domus">Kosten</h2>
                            <table class="table">
                                <thead>
                                <tr class="bg-primary">
                                    <th class="text-light" scope="col">Tarife</th>
                                    <th class="text-light" scope="col">Preise</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row" class="text-primary domus">Studenten-Tarif*</th>
                                    <td class="text-primary domus">1195.-</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="domus">Standard-Tarif</th>
                                    <td class="domus">1395.-
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="domus">Comfort-Doppelzimmer</th>
                                    <td class="domus">1495.-
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="domus">Comfort-Einzelzimmer</th>
                                    <td class="domus">1695.-
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <h2 class="card-title fw-bold domus">Inkludierte Leistungen</h2>
                            <ul>
                                <li>
                                    <p class="card-text bold">Internationaler Hin- und Rückflug + Airport Transfers</p>
                                </li>
                                <li>
                                    <p class="card-text bold">Privater Reisebus</p>
                                </li>
                                <li>
                                    <p class="card-text bold">Stadtführung Reykjavik</p>
                                </li>
                                <li>
                                    <p class="card-text bold">Eintritt „Premium-Paket“ in die Blaue Lagune</p>
                                </li>
                                <li>
                                    <p class="card-text bold">Alle Übernachtungen</p>
                                </li>
                                <li>
                                    <p class="card-text bold">Eintritt in Nationalparks, Sehenswürdigkeiten etc.</p>
                                </li>
                                <li>
                                    <p class="card-text bold">10 x Frühstück.</p>
                                </li>
                            </ul>


                            <h2 class="card-title fw-bold domus">Anmeldefrist</h2>
                            <h4 class="card-title fw-bold text-primary domus">30. November 2020</h4>
                            <p class="card-text bold"><strong>Es gibt 35 freie Plätze.</strong><br>
                                Anmeldung nur solange genügend Plätze da sind.</p>

                            <h2 class="card-title fw-bold domus">Erwartungen</h2>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="abenteuer"
                                           class="form-label card-title fw-bold text-primary domus">Abenteuer</label>
                                    <input min=0, max=10 value="8" type="range" class="form-range" id="abenteuer"
                                           disabled>
                                </div>
                                <div class="col-sm-6">
                                    <label for="komfort"
                                           class="form-label card-title fw-bold text-primary domus">Komfort</label>
                                    <input min=0, max=10 value="10" type="range" class="form-range" id="komfort"
                                           disabled>
                                </div>
                                <div class="col-sm-6">
                                    <label for="sonne" class="form-label card-title fw-bold text-primary domus">Sonne &
                                        Strand</label>
                                    <input min=0, max=10 value="1" type="range" class="form-range" id="sonne" disabled>
                                </div>
                                <div class="col-sm-6">
                                    <label for="road" class="form-label card-title fw-bold text-primary domus">On the
                                        Road</label>
                                    <input min=0, max=10 value="7" type="range" class="form-range" id="road" disabled>
                                </div>
                                <div class="col-sm-6">
                                    <label for="entschleunigung"
                                           class="form-label card-title fw-bold text-primary domus">Entschleunigung</label>
                                    <input min=0, max=10 value="10" type="range" class="form-range" id="entschleunigung"
                                           disabled>
                                </div>
                                <div class="col-sm-6">
                                    <label for="nachhaltigkeit"
                                           class="form-label card-title fw-bold text-primary domus">Nachhaltigkeit</label>
                                    <input min=0, max=10 value="7" type="range" class="form-range" id="nachhaltigkeit"
                                           disabled>
                                </div>
                                <div class="col-sm-6">
                                    <label for="sicherheit"
                                           class="form-label card-title fw-bold text-primary domus">Sicherheit</label>
                                    <input min=0, max=10 value="10" type="range" class="form-range" id="sicherheit"
                                           disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="album bg-light">
        <div id="ablauf" class="padder"></div>
        <div class="container-fluid">
            <h2 class="fw-bold px-5 py-5">Ablauf der Reise</h2>
            <div class="row">
                <div class="col-xl-7 my-5 px-5">
                    <h2 class="title fw-bold domus">Unterkünfte</h2>
                    <p class="text-break bold">Wir haben einen besonders guten Übernachtdungsdeal bekommen, weil wir an
                        drei Orten in den Hostels derselben Betreiber wohnen. In Island haben die Hostels
                        Hotel-Standard, während die Hotels kaum mehr zu bieten haben, sind diese jedoch unbezahlbar.
                        Darüber hinaus überzeugt mich deren Konzept einer nachhaltigen und umweltbewussten... Unsere
                        Hostels haben alle einen Aufenthaltsraum, Kochgelegenheit, eine eigene Bar und oft auch einen
                        Billiardtisch oder andere Angebote, mit denen wir uns gemütliche Winterabende machen können.</p>
                </div>
            </div>

            <div class="row" style="min-height: 400px;">
                <div class="col-xl-1 p-0 m-0 d-flex justify-content-center">
                    <p class="fw-bold text-primary domus px-0" style="font-size: 500%">1</p>
                </div>
                <div class="col-xl-6">
                    <h4 class="card-title fw-bold text-primary domus">Loft-Hostel Reykjavik, insges. 3 Nächte (2 bei
                        Ankunft, 1 vor Abflug)</h4>
                    <p class="fw-bold text-primary text-break domus">
                        https://www.hihostels.com/de/hostels/reykjavik-loft-hostel</p>
                    <p class="text-break bold"><strong>Adresse:</strong> Bankastraeti 7, 101 Reykjavik</p>
                    <div class="row">
                        <div class="col-xl-10">
                            <p class="text-break bold">Sehr zentral, super modern und Top-Bewertungen, in Fußlaufweite
                                aller
                                Sehenswürdigkeiten, im Ausgeh-Vierteil von Reykjavik gelegen. Hat auch eine eigene Bar.
                                Nachts kann es auch mal lauter werden, Ohropax werden kostenlos ausgeteilt. Im Vergleich
                                zur Khaosan-Road in Bangkok ist das jedoch ein seichter Witz. Wer unbedingt seine Ruhe
                                möchte, bucht Doppelzimmer oder Einzelzimmer und gibt mir einen Hinweis. Ich buche
                                euch dann in ein anderes Hotel in der Nähe ein.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 d-flex p-0 m-0">
                    <div class="container-fluid p-0">
                        <div class="row w-100 p-0 m-0 justify-content-center">
                            <div class="col-md-6 p-0 align-items-center justify-content-center">
                                <img src="https://picsum.photos/seed/Loft/600/400"
                                     style="min-width:70%; max-width: 100%;">
                            </div>
                            <div class="col-md-6 p-0 align-items-center justify-content-centers">
                                <img src="https://picsum.photos/seed/Hostel/600/400"
                                     style="min-width:70%; max-width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="min-height: 400px;">
                <div class="col-xl-1 p-0 m-0 d-flex justify-content-center">
                    <p class="fw-bold text-primary domus px-0" style="font-size: 500%">2</p>
                </div>
                <div class="col-xl-6">
                    <h4 class="card-title fw-bold text-primary domus">Heradskolinn Laugarvatn, 2 Nächte</h4>
                    <p class="fw-bold text-primary text-break domus">
                        https://heradsskolinn.is</p>
                    <p class="text-break bold"><strong>Adresse:</strong> Bankastraeti 7, 101 Reykjavik</p>
                    <div class="row">
                        <div class="col-xl-10">
                            <p class="text-break bold">Das beste Hotel auf unserer Reise, wunderschön gelegen am
                                Laugarvatn-See, der von einer heißen Therme gespeist wird (man kann also auch im Winter
                                in den See springen!), nebenan gibt es auch eine richtige Therme, um einen Tag so
                                richtig zu entspannen. Man kann von hier aus jedoch auch tolle Ausflüge starten.
                                Laugarvatn ist ein toller Punkt, um Nordlichter zu beobachten. Wir besuchen hier
                                gemeinsam die geothermale Bäckerei.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 d-flex p-0 m-0">
                    <div class="container-fluid p-0">
                        <div class="row w-100 p-0 m-0 justify-content-center">
                            <div class="col-md-6 p-0 align-items-center justify-content-center">
                                <img src="https://picsum.photos/seed/Heradskolinn/600/400"
                                     style="width: 100%; min-width:70%; max-width: 100%;">
                            </div>
                            <div class="col-md-6 p-0 align-items-center justify-content-centers">
                                <img src="https://picsum.photos/seed/Laugarvatn/600/400"
                                     style="width: 100%; min-width:70%; max-width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="min-height: 400px;">
                <div class="col-xl-1 p-0 m-0 d-flex justify-content-center">
                    <p class="fw-bold text-primary domus px-0" style="font-size: 500%">3</p>
                </div>
                <div class="col-xl-6">
                    <h4 class="card-title fw-bold text-primary domus">Vik Hostel, 2 Nächte</h4>
                    <p class="fw-bold text-primary text-break domus">https://www.hostel.is/hostels/vik-hi-hostel</p>
                    <p class="text-break bold"><strong>Adresse:</strong> Bankastraeti 7, 101 Reykjavik</p>
                    <div class="row">
                        <div class="col-xl-10">
                            <p class="text-break bold">Super gemütliches, kleines Hostel am oberen Stadtrand von Vik.
                                Von hier aus kann man zu
                                Fuß den Black Sand Beach erreichen oder auf einen Plateuberg steigen, von wo aus man
                                einen fast endlosen Blick die Küste entlang hat. Wer möchte kann von hier aus eine Tour
                                zum Vulkan Hekla starten, sofern es die Witterung zulässt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 d-flex p-0 m-0">
                    <div class="container-fluid p-0">
                        <div class="row w-100 p-0 m-0 justify-content-center">
                            <div class="col-md-6 p-0 align-items-center justify-content-center">
                                <img src="https://picsum.photos/seed/Vik1/600/400"
                                     style="width: 100%; min-width:70%; max-width: 100%;">
                            </div>
                            <div class="col-md-6 p-0 align-items-center justify-content-centers">
                                <img src="https://picsum.photos/seed/Vik2/600/400"
                                     style="width: 100%; min-width:70%; max-width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="min-height: 400px;">
                <div class="col-xl-1 p-0 m-0 d-flex justify-content-center">
                    <p class="fw-bold text-primary domus px-0" style="font-size: 500%">4</p>
                </div>
                <div class="col-xl-6">
                    <h4 class="card-title fw-bold text-primary domus">Höfn HI Hostel, 2 Nächte</h4>
                    <p class="fw-bold text-primary text-break domus">https://www.hostel.is/hostels/hofn-hi-hostel</p>
                    <p class="text-break bold"><strong>Adresse:</strong> Hvannabraut 3, 780 Höfn</p>
                    <div class="row">
                        <div class="col-xl-10">
                            <p class="text-break bold">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing
                                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                erat,</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 d-flex p-0 m-0">
                    <div class="container-fluid p-0">
                        <div class="row w-100 p-0 m-0 justify-content-center">
                            <div class="col-md-6 p-0 align-items-center justify-content-center">
                                <img src="https://picsum.photos/seed/Höfn/600/400"
                                     style="width: 100%; min-width:70%; max-width: 100%;">
                            </div>
                            <div class="col-md-6 p-0 align-items-center justify-content-centers">
                                <img src="https://picsum.photos/seed/Höfner/600/400"
                                     style="width: 100%; min-width:70%; max-width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="min-height: 400px;">
                <div class="col-xl-1 p-0 m-0 d-flex justify-content-center">
                    <p class="fw-bold text-primary domus px-0" style="font-size: 500%">5</p>
                </div>
                <div class="col-xl-6">
                    <h4 class="card-title fw-bold text-primary domus">Selfoss HI Hostel, 1 Nacht</h4>
                    <p class="fw-bold text-primary text-break domus">https://www.hostel.is/hostels/selfoss-hi-hostel</p>
                    <p class="text-break bold"><strong>Adresse:</strong> Austurvegur 28, 800 Selfoss</p>
                    <div class="row">
                        <div class="col-xl-10">
                            <p class="text-break bold">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing
                                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                erat,</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 d-flex p-0 m-0">
                    <div class="container-fluid p-0">
                        <div class="row w-100 p-0 m-0 justify-content-center">
                            <div class="col-md-6 p-0 align-items-center justify-content-center">
                                <img src="https://picsum.photos/seed/Selfoss/600/400"
                                     style="width: 100%; min-width:70%; max-width: 100%;">
                            </div>
                            <div class="col-md-6 p-0 align-items-center justify-content-centers">
                                <img src="https://picsum.photos/seed/Someoneelsefoss/600/400"
                                     style="width: 100%; min-width:70%; max-width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="album bg-light pb-5">
        <div id="info" class="padder"></div>
        <div class="container-fluid">
            <h2 class="fw-bold pt-5 px-5">Länderinfo | Gesundheit & Sicherheit</h2>
            <div class="card mx-5">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <h4 class="title fw-bold domus">CORONA-INFO & SONDERREGELUNG STORNIERUNG</h4>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-break bold">
                                    <strong>Sollte uns kurz vor Abreise eine coronabedingte Einreisebeschränkung
                                        treffen,
                                        verschiebt sich die Reise um genau 1 Jahr.</strong> Eure Buchung bleibt
                                    damit bestehen,
                                    es
                                    sei denn ihr
                                    tretet schriftlich von dieser zurück. Einbezahlte Gelder werden ohne Abzug
                                    rückerstattet.
                                    Die aktuelle Reisekalkulation geht davon aus, dass zum Reisezeitraum Flüge im
                                    normalen Preissegment zur Verfügung stehen. Aktuell gibt es kaum
                                    Flugverbindungen
                                    nach
                                    Reykjavik und die Fluglinien garantieren keinen Transport sowie mangels
                                    Auslastung
                                    behalten sie sich vor, Flüge zu stornieren. Sollte der Flugpreis für das
                                    Gruppen-ticket 500
                                    Euro übersteigen, wird der Reisepreis steigen. In diesem Falle hat jeder
                                    selbstverständlich ein kostenloses Rücktrittsrecht von der Reise. Bitte
                                    frühzeitig
                                    Gedanken machen was
                                    passiert, sollte man die Rückreise erst ein – zwei Tage später antreten können.
                                    Die
                                    zusätzlichen Übernachtungen übernimmt die Reisekasse, zahlt jedoch keine
                                    Entschädigungen.
                                    Auf der gesamten Reise werden die Corona-Empfehlungen des Reiselandes
                                    eingehalten.
                                    Die von uns gebuchten Schlafsäle und dazugehörigen sanitären Anlagen sind
                                    ausschließlich für unsere Reisegruppe reserviert. Wiir reisen in einem
                                    Privatbus,
                                    der nur der Gruppe vorbehalten ist. In Island lassen sich Abstandregeln
                                    problemlos
                                    einhalten.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h4 class="title fw-bold domus">KLIMA / AUSRÜSTUNG</h4>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-break bold">
                                    Zu unserer Reisezeit ist in Island tiefer Winter, jedoch wird es tagsüber schon
                                    zunehmend heller. Wir können mit 8-9 h Tageslicht rechnen. In dieser Zeit finden
                                    auch unsere
                                    Tagesausflüge statt. Im Februar können die Temperaturen mild sein, es kann sogar
                                    sehr feucht werden und sein, dass wir 10 Tage bei steifer Brise durch Eismatsch
                                    und
                                    nassen
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                <h4 class="title fw-bold domus">GESUNDHEIT</h4>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-break bold">
                                    Der Abschluss einer privaten Auslandsreise-Krankenversicherung ist PFLICHT.
                                    Bitte fragt bei eurer Versicherung nach, ob Sie euch auch im Falle einer
                                    Corona-Infektion im Ausland unterstützen.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                <h4 class="title fw-bold domus">REISEORDNUNG</h4>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-break bold">
                                    Die Reise wird im Vorfeld von Prof. Julia Schnitzer organisiert. Die Reise wird
                                    auch
                                    von mir begleitet und vor Ort von lokalen Reiseleitern unterstützt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
{% include "./footer.html" %}